.App {
  text-align: center;
  width: 800px;
  height: auto;
  border: 1px solid black;
  margin: auto;
}

.title{
  height: 49px;
}

.board {
  width: auto;
  height: auto;
  border: 0.5px solid black;
  border-bottom: none;
}

.board .row {
  display: flex;
  height: 25px;
  border: 0.5px solid black;
}

.board .row .cell-open,
.board .row .cell-closed {
border: 0.5px solid black;
display: flex;
width: 79px;
justify-content: center;
align-items: center;
}

.board .row .cell-open {
background-color: #d4d4d4; 
}

.board .row .cell-open:hover {
  background-color: #d4d4d4; 
}

.board .row .cell-closed:hover {
background-color: #b6b6b6; 
}


.navbar {
  display: flex;
  flex-direction: row;
  height: 99px;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}

.reset,
.easy,
.hard {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
